:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #161616;
}


main {
  color: whitesmoke;
  min-height: 100svh;
  min-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}